@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
/*  font-family: "Noto Sans KR", sans-serif;
font-family: "Wittgenstein", serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
ul,ol{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
}


header{
    width: 100%;
    height: 70px;
    background-color: #025e73;
    padding-top: 5px;
}
header a{
    display: block;
    width: 200px;
    margin: 0 auto;
}
header img{
    width: 100%;
}

input{
    display: none;
}

label{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-family: "Wittgenstein", serif;
    font-weight: 700;
    color: #025e73;
    background-color: #d2d7d9;
    border-bottom: 2px solid #025e73;
    cursor: pointer;
}
label .wrap{
    width: 1200px;
    margin: 0 auto;
}
label span::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/arrow.png) no-repeat;
    background-size: 20px;
    background-position: 0 7px;
}

.tb_box{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px 25px;
    display: none;
}

.bx_home{
    width: 279px;
    font-weight: 500;
}
.bx_home>img{
    width: 163px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.bx_home div{
    float: left;
    line-height: 35px;
    margin-left: 10px;
}
.bx_home div img{
    width: 27px;
    height: 27px;
    margin: 8px;
    margin-top: 4px;
}

.bx_about div{
    width: 50%;
    height: 231px;
    float: left;
}
.bx_about h2{
    font-family: "Wittgenstein", serif;
    color: #735736;
    margin-bottom: 20px;
}
.bx_about ul{
    list-style-type: circle;
    margin-bottom: 25px;
}
.bx_about li{
    margin-left: 22px;
    font-size: 18px;
}

.bx_ptfl{
    margin-bottom: 90px;
}
.bx_ptfl div{
    float: left
}
.ptfl1{
    width: 39%;
}
.ptfl2{
    width: 61%;
}
.ptfl3{
    width: 100%;
}
.bx_ptfl img{
    width: 100%;
    padding: 15px;
}

.bx_ctt img{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.bx_ctt h3{
    font-family: "Wittgenstein", serif;
    font-style: italic;
    text-align: center;
}


#home:checked ~ .bx_home{
    display: block;
}
#home:checked ~ .tb_about{
    position: fixed;
    bottom: 80px;
}
#home:checked ~ .tb_ptfl{
    position: fixed;
    bottom: 40px;
}
#home:checked ~ .tb_ctt{
    position: fixed;
    bottom: 0;
}
#about:checked ~ .bx_about{
    display: block;
}
#about:checked ~ .tb_ptfl{
    position: fixed;
    bottom: 40px;
}
#about:checked ~ .tb_ctt{
    position: fixed;
    bottom: 0;
}
#ptfl:checked ~ .bx_ptfl{
    display: block;
}
#ptfl:checked ~ .tb_ctt{
    position: fixed;
    bottom: 0;
}
#ctt:checked ~ .bx_ctt{
    display: block;
}


@media screen and (max-width:1200px) {
    .tb_box{
        width: 100%;
    }
    .bx_home{
        width: 279px;
    }
}